.navbar
  .container
    .navbar-left
      a.navbar-logo(href='/')
        img(src=cachify('/static/navbar-icon.png'))
      h1 Holman Gao
    .navbar-right
      a(href='/work') Work
      a(href='/side-projects') Side Projects
      a(href='/in-community') In Community
