.navbar
  .container
    .navbar-left
      a(href='/')
        img(src=cachify('/static/navbar-icon.png'))
        h1 Holman Gao
    .navbar-right
      each navbarLink in navbarLinks
        - className = navbarLink.url === currentPath ? 'active' : null
        a(href=navbarLink.url, class=className)= navbarLink.text
