.navbar {
  background $my-green
  padding .75em 0 .5em

  h1 {
    color $white
  }
}

.navbar-left {
  clearfix()
  float left

  img,
  h1 {
    float left
  }

  img {
    margin-right .75em
  }
}

.navbar-right {
  float right
  line-height em(50px)

  a {
    color $white
    padding 0 1em
    text-transform uppercase
    text-decoration none

    &:hover {
      text-decoration underline
    }

    &.active {
      text-decoration underline
    }
  }
}
