@require 'nib'
@require 'jeet'

global-reset()

e(name) {
  &__{name} {
    {block}
  }
}

m(name) {
  &--{name} {
    {block}
  }
}

px-to-em($value) {
  return unit($value/16, 'em')
}

// Colors
$my-green = #198565
$darker-gray = #222
$dark-gray = #444
$light-gray = #bbb
$white = white
$header-ratio = 1.25

// Borders
$colored-border = px-to-em(1px) $my-green solid
$muted-border = px-to-em(1px) $light-gray solid

$lambda = 1.5
$h1-lambda = $header-ratio ** 3
$h2-lambda = $header-ratio ** 2

html,
body {
  box-sizing border-box
  height 100%
}

*, // @stylint ignore
*:before, // @stylint ignore
*:after { // @stylint ignore
  box-sizing inherit
}

body {
  font-family 'PT Sans', sans-serif
  font-size 100%
  line-height $lambda
  color $dark-gray
  background-color $my-green
}

.content {
  background-color $white
  min-height 100%
}

h1,
h2,
h3 {
  color $darker-gray
}

h1 {
  font-size unit($h1-lambda, em)
  font-weight bold
  line-height (($lambda * 3) / $h1-lambda)
}

h2 {
  font-size unit($h2-lambda, em)
  font-weight bold
  line-height (($lambda * 2) / $h2-lambda)
}

h3 {
  font-size unit($header-ratio, em)
  line-height 1.2
  padding .15em 0
}

hr {
  border-color $my-green
  border-top 0
}

em {
  font-style italic
}

p {
  margin-bottom .5em
}

a {
  color $my-green

  &:hover {
    color darken($my-green, 30%)
  }
}

.fragment-left {
  col(3/5)
}

.fragment-right {
  col(2/5)
  text-align right
}

+below('m') {
  .fragment-left,
  .fragment-right {
    stack()
  }

  .fragment-right {
    text-align left
  }
}

.clearfix {
  clearfix()
}

@require './breadcrumbs/list'
@require './content/footer/footer'
@require './content/footer/info_tags'
@require './content/handler'
@require './content/navbar'
@require './fragments/bullet_list'
@require './fragments/github_fragment'
@require './my/email'
@require './resume/notes'
@require './resume/resume'
@require './projects/content'
@require './projects/grid'
@require './projects/image'
@require './projects/list_item'
@require './shared/container'
@require './shared/pdf'
