@import 'nib'
@import 'jeet'

global-reset()


e(name)
  &__{name}
    {block}

m(name)
  &--{name}
    {block}

$container-width = em(900px)

// Colors
$my-green = #198565
$darker-gray = #222
$dark-gray = #444
$light-gray = #bbb
$white = white
$header-ratio = 1.25em

// Borders
$colored-border = em(1px) $my-green solid
$muted-border = em(1px) $light-gray solid

html,
body {
  height: 100%
}

body {
  font-family 'PT Sans', sans-serif
  line-height 1.5
  color $dark-gray
  background-color $my-green
}

.content {
  background-color $white
  min-height 100%
}

h1,
h2,
h3 {
  line-height 1.2
  padding .15em 0
  color: $darker-gray
}

h1 {
  font-size $header-ratio ** 3
  font-weight bold
}

h2 {
  font-size $header-ratio ** 2
  font-weight bold
}

h3 {
  font-size $header-ratio
}

hr {
  border-color $my-green
  border-top 0
}

em {
  font-style italic
}

p {
  margin-bottom .5em
}

a {
  color $my-green

  &:hover {
    color darken($my-green, 30%)
  }
}

.hide {
  display none
}

$pdf-viewer-width = em(720px)

.pdf-viewer {
  position: relative
  padding-bottom: 56.25% /* 16:9 */
  padding-top: 25px
  height: 0
  width $pdf-viewer-width
  max-width 100%
  margin 0 auto

  iframe {
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  }
}

.container {
  center($container-width, 1em)
}

.fragment-left {
  col(3/5)
}

.fragment-right {
  col(2/5)
  text-align right
}

+below('m') {
  .fragment-left,
  .fragment-right {
    stack()
  }

  .fragment-right {
    text-align left
  }
}

.clearfix {
  clearfix()
}

@require './layout/footer'
@require './layout/navbar'
@require './resume/resume'
@require './projects/content'
@require './projects/images'
@require './projects/list_item'
