@require 'nib'
@require 'jeet'

$lambda = 1.5
$container-scale = 40
$container-width = unit($container-scale * $lambda, em)
jeet['gutter'] = 100 / 40 * 2 // this is a percentage, to be 2 * $lambda

e(name) {
  &__{name} {
    {block}
  }
}

m(name) {
  &--{name} {
    {block}
  }
}

// Colors
$my-green = #198565
$darker-gray = #555
$dark-gray = lighten($darker-gray, 30%)
$light-gray = #bbb
$white = white
$header-ratio = 1.25

// Borders
$colored-border = .1rem $my-green solid
$muted-border = .1rem $light-gray solid

$h1-lambda = $header-ratio ** 3
$h2-lambda = $header-ratio ** 2
$h3-lambda = $header-ratio

html,
body {
  box-sizing border-box
  height 100%
}

*, // @stylint ignore
*:before, // @stylint ignore
*:after { // @stylint ignore
  box-sizing inherit
}

body {
  font-family 'PT Sans', sans-serif
  font-size 100%
  line-height $lambda
  color $dark-gray
  background-color $my-green
}

.content {
  background-color $white
  min-height 100%
}

h1,
h2,
h3,
p,
dl,
dd,
ul {
  margin 0
  padding 0
}

h1,
h2,
h3 {
  color $darker-gray
}

h1 {
  font-size unit($h1-lambda, em)
  font-weight bold
  line-height (($lambda * 3) / $h1-lambda)
}

h2 {
  font-size unit($h2-lambda, em)
  font-weight bold
  line-height (($lambda * 1.5) / $h2-lambda)
  margin unit($lambda / $h2-lambda / 2, em) 0
}

h3() {
  font-size unit($h3-lambda, em)
  line-height ($lambda / $h3-lambda)
  margin unit($lambda / $h3-lambda / 2, em) 0
}

h3 {
  h3()
}

hr {
  border-color $my-green
  border-top 0
}

em {
  font-style italic
}

img {
  vertical-align top // or else image gets added padding on bottom
}

a {
  color $my-green
  cursor pointer
  text-decoration underline

  &:hover {
    color darken($my-green, 30%)
  }
}

.clearfix {
  clearfix()
}

@require './breadcrumbs/list'
@require './content/footer/footer'
@require './content/footer/info_tags'
@require './content/handler'
@require './content/navbar'
@require './fragments/block'
@require './fragments/bullet_list'
@require './fragments/github_fragment'
@require './my/email'
@require './resume/notes'
@require './routes/not_found_handler'
@require './portfolio/blurb'
@require './portfolio/handler'
@require './projects/content'
@require './projects/grid'
@require './projects/image'
@require './projects/list_item'
@require './shared/container'
@require './shared/pdf'
@require './technologies/handler'
@require './technologies/list'
