.resume-notes {
  margin-left unit($lambda, em)

  +e(heading) {
    color $darker-gray
    font-weight bold
  }

  +e(list-item-icon) {
    // need to hard code because em doesn't go small enough =(
    font-size 5px
    left -15px
    top 10px
  }
}
