extends ../layout

block content
  != breadcrumbs
  #react-container!= resume

  script(type='text/javascript').
    var gon = !{gon};
  script(type='text/javascript', src=cachify('/assets/main.js'))
