.resume-category {
  .resume-entry:first-of-type {
    margin-top 0
  }

  +e(container) {
    border-bottom $colored-border
    padding unit(2 * $lambda, em) 0

    &:first-child {
      padding-top 0
    }

    &:last-child {
      border-width 0
    }
  }
}

.resume-entry {
  margin unit($lambda, em) 0 0
}
