.blurb {
  +e(paragraph) {
    margin-bottom unit($lambda, em)
  }

  +e(portrait) {
    background-size cover
    border-radius 50%
    padding-bottom 100%
  }

  +e(portrait-container) {
    col(1/4)

    +below('s') {
      stack()
      padding 0 unit($lambda, em) unit($lambda, em)
    }
  }

  +e(text-container) {
    col(3/4)

    +below('s') {
      stack()
      text-align center
    }
  }

  +e(mobile-heading) {
    display none
    text-align center

    +below('s') {
      display block
    }
  }

  +e(large-heading) {
    display block

    +below('s') {
      display none
    }
  }
}
