<!DOCTYPE html>
<html>
  <head>
    <title>Holman Gao</title>
    <link type="text/css" href="/assets/main.css" rel="stylesheet" />
    <link type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
    <link href="http://www.gravatar.com/avatar/f14bfcfb11c5a367dc8c88bc3dd43189?s=16" rel="icon" />
    <meta name="description" content="{{__ 'metaDescription'}}" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body>
    <br />
    <div class="container">
      {{{body}}}
    </div>
    <br />
    <hr />
    <div class="container">
      <a href="https://github.com/golmansax">Github</a> |
      holman<span class="hide">crap</span>@<span class="hide">crap</span>golmansax<span class="hide">crap</span>.com |
      in San Francisco, CA
    </div>
  </body>
</html>
