@require 'font-awesome-stylus/stylus/mixins'
@require 'font-awesome-stylus/stylus/variables'

.content-footer {
  +e(top) {
    margin-top unit(2 * $lambda, em)
    padding 3em 0
  }

  +e(bottom) {
    background-color $my-green
    color $white
    padding 2em 0

    h2 {
      margin 0
    }

    h2,
    a {
      color $white
    }
  }

  +e(large-section) {
    +above('l') {
      span(1/2)
    }

    small {
      display inline-block
      font-size 65%
      font-weight normal
    }
  }

  +e(section) {
    margin-top unit($lambda, em)

    +above('l') {
      span(1/4)
      margin-top 0
    }
  }

  +e(section-heading) {
    font-weight bold
  }

  +e(main-links) {
    a {
      display block
    }
  }
}
