@require 'font-awesome-stylus/stylus/mixins'
@require 'font-awesome-stylus/stylus/variables'

$footer-lambda = $lambda * 3 / 2

.content-footer {
  margin-top unit(2 * $lambda, em)
  border-top $colored-border
  line-height $footer-lambda
  padding 1em 0

  h2 {
    line-height ($footer-lambda / $h2-lambda)
  }

  +e(section) {
    margin-bottom unit($lambda, em)

    &:last-child {
      margin-bottom 0
    }

    +above('l') {
      col(1/2)
      margin-bottom 0
    }
  }

  +e(main-links) {
    a {
      position relative

      &:after {
        fa-icon()

        color $dark-gray
        content: $fa-var-circle
        font-size 5px
        padding 0 1em
        vertical-align middle
      }

      &:last-child:after {
        content: ''
      }
    }
  }
}
