@require 'font-awesome-stylus/stylus/mixins'
@require 'font-awesome-stylus/stylus/variables'

$footer-lambda = $lambda * 3 / 2

.content-footer {
  +e(top) {
    margin-top unit(2 * $lambda, em)
    padding 3em 0
  }

  +e(bottom) {
    background-color $my-green
    color $white
    line-height $footer-lambda
    padding 2em 0

    h2 {
      line-height ($footer-lambda / $h2-lambda)
      margin 0
    }

    h2,
    a {
      color $white
    }
  }

  +e(section) {
    margin-bottom unit($lambda, em)

    &:last-child {
      margin-bottom 0
    }

    +above('l') {
      span(1/2)
      margin-bottom 0
    }
  }

  +e(main-links) {
    a {
      position relative

      &:after {
        fa-icon()

        content: $fa-var-circle
        font-size 5px
        padding 0 1em
        vertical-align middle
      }

      &:last-child:after {
        content: ''
      }
    }
  }
}
