.content-footer-info-tags {
  +e(group) {
    +desktop() {
      col(1/2)
    }
  }

  .fa-stack {
    margin-right .2em
  }

  +e(back-icon) {
    color $my-green
  }

  +e(resume-icon) {
    .fa-file-text {
      margin -1px 0 0 .5px // hard coding
    }
  }

  +e(email-icon) {
    .fa-envelope {
      margin-top -1px // hard coding
    }
  }
}
