<div class="container">
  <h1>Donations Pledge</h1>
</div>
<hr />
<div class="container">
  <p>
    I made a pledge after graduating college to donate cash every year on my
    birthday to an organization.
  </p>
  <div id="react-container">{{{donations}}}</div>
</div>
