extends ./layout.jade

block content
  .container
    p
      After obtaining my undergraduate degree, I made a pledge to donate cash
      every year on my birthday, to support organizations that I feel are
      making a positive impact in society. All of the organizations that I have
      chosen so far are ones that have helped me become who I am today.
    #react-container!= donations
