<div class="container">
  <h1>Human-Centered Design</h1>
</div>
<hr />
<div class="container">
  <p>
    A few friends and I took a
    <a href="http://plusacumen.org/courses/hcd-for-social-innovation/">
      human-centered design course
    </a>
    on creating effective solutions for social change.
    Our project brainstorm was on promoting healthy eating in the Tenderloin
    neighborhood in San Francisco, CA.
    Here is a presentation detailing what we did:
  </p>
  <br />
  <iframe class="pdf-viewer-landscape" src="{{link}}"></iframe>
</div>
