extends ./layout.jade

block content
  .container
    p
      | A few friends and I took a&nbsp;
      a(href='http://plusacumen.org/courses/hcd-for-social-innovation/')
        human-centered design course
      |  on creating effective solutions for social change.  Our project
      | brainstorm was on promoting healthy eating in the Tenderloin
      | neighborhood in San Francisco, CA.  Below is a presentation detailing
      | our project:
    br
    .pdf-viewer
      iframe(src=link)
