<div class="container">
  <p>
    A few friends and I took a
    <a href="http://plusacumen.org/courses/hcd-for-social-innovation/">
      human-centered design course
    </a>
    on creating effective solutions for social change.
    Our project brainstorm was on promoting healthy eating in the Tenderloin
    neighborhood in San Francisco, CA.  Below is a presentation detailing
    our project:
  </p>
  <br />
  <div class="pdf-viewer"><iframe src="{{link}}"></iframe></div>
</div>
