<!DOCTYPE html>
<html>
  <head>
    <title>Holman Gao</title>
    <link type="text/css" href="./assets/main.css" rel="stylesheet" />
    <link type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
    <link href="http://www.gravatar.com/avatar/f14bfcfb11c5a367dc8c88bc3dd43189?s=16" rel="icon" />
    <meta name="description" content="{{__ 'meta_description'}}" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body>
    <h1>Holman Gao</h1>
    <div class="resume">
      <div class="resume-entry">
        <a href="http://chalkschools.com">Chalk Schools</a>,
        Software Engineer: Jan 2014 - Current
      </div>
      <div class="resume-entry">
        <a href="http://www.room77.com?new=1">Room 77</a>,
        Software Engineer: Jul 2012 - Jan 2014
        <div class="resume-entry-note">
          Developer on mobile app
          [<a href="http://m.room77.com?new=1">website</a>,
          <a href="https://itunes.apple.com/us/app/room-77-hotel-deal-finder/id418078412?mt=8">iOS</a>]
        </div>
        <div class="resume-entry-note">
          Designed and implemented a native-like HTML5 and Angular JS single-page mobile app framework
        </div>
        <div class="resume-entry-note">
          Author and maintainer of
          <a href="https://github.com/room77/angular-recompile">a recompile library for Angular JS</a>,
          created to significantly reduce $watches on an Angular app
        </div>
        <div class="resume-entry-note">
          Occasional forays into backend and production infrastructure projects
        </div>
        <div class="resume-entry-note">
          {{! <a href="http://www.golmansax.com/office-street-view/#office"> }}
          <a href="https://github.com/golmansax/office-street-view">
            Fun teams page
          </a>
          created in an internal hackathon
        </div>
      </div>
      <div class="resume-entry">
        University of Maryland, BS, Computer Engineering and Mathematics: Class of 2012
        <div class="resume-entry-note">
          <a href="http://www.newsdesk.umd.edu/engaged/release.cfm?ArticleID=2429">Participant</a>
          in the 2011 ACM-ICPC World Finals
        </div>
      </div>
      <div class="resume-entry">Montgomery Blair Magnet Program: Class of 2008</div>
      <div class="resume-entry">
        Hobbies:
        <a href="http://www.sfgate.com/music/slideshow/Outside-Lands-2014-91325.php">acroyoga</a>
      </div>
    </div>
    <div class="contact mt1">
      <a href="https://github.com/golmansax">Github</a> |
      holman<span class="is_hidden">crap</span>@<span class="is_hidden">crap</span>golmansax<span class="is_hidden">crap</span>.com |
      in San Francisco, CA
    </div>
  </body>
</html>
