<!DOCTYPE html>
<html>
  <head>
    <title>Holman Gao</title>
    <link type="text/css" href="/assets/main.css" rel="stylesheet" />
    <link type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
    <link href="http://www.gravatar.com/avatar/f14bfcfb11c5a367dc8c88bc3dd43189?s=16" rel="icon" />
    <meta name="description" content="{{__ 'metaDescription'}}" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body>
    <h1>Holman Gao</h1>
    <div class="resume">
      {{#each (__ 'resume')}}
        <div class="resume-entry">
          {{> 'fragments' title}}
          {{#each notes}}
            <div class="resume-entry-note">
              {{> 'fragments' this}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
    <br />
    <div class="contact">
      <a href="https://github.com/golmansax">Github</a> |
      holman<span class="hide">crap</span>@<span class="hide">crap</span>golmansax<span class="hide">crap</span>.com |
      in San Francisco, CA
    </div>
  </body>
</html>
