<h1>Holman Gao</h1>
<div class="resume">
  {{#each (__ 'resume')}}
    <div class="resume-entry">
      {{> 'fragments' title}}
      {{#each notes}}
        <div class="resume-entry-note">
          {{> 'fragments' this}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
