<div class="container">
  <h1>Holman Gao</h1>
</div>
<hr />
<div id="react-container">{{{resume}}}</div>
<script type="text/javascript">var gon = {{{gon}}};</script>
<script type="text/javascript" src="/assets/bundle.js"></script>
