.content-handler {
  +e(top) {
    &,
    & > div {
      z-index 1
    }
  }

  +e(body) {
    overflow hidden
    position relative
    z-index 0
  }

  +e(backdrop) {
    background rgba($dark-gray, .5)
    height 1000em
    left 0
    position absolute
    top 0
    width 1000em
  }
}
