.navbar {
  background $my-green
  padding .75em 0 .5em
  position relative

  h1 {
    color $white
  }

  +e(menu) {
    position absolute
    top em(70px)
    right 0
    background $white
    border-left $colored-border

    min-width em(200px)

    a {
      display block
      padding 1em
      border-bottom $colored-border
      text-decoration none

      &.active {
        text-decoration underline
      }
    }
  }

  +e(sidebar-trigger) {
    background inherit
    border 0
    color $white
    float right
    margin -.75em -1em -.5em .5em
    padding 1em

    +above('l') {
      display none
    }
  }
}

.navbar-left {
  clearfix()
  float left

  img,
  h1 {
    float left
  }

  img {
    margin-right .75em
  }
}

.navbar-right {
  float right
  line-height em(50px)

  a {
    color $white
    padding 0 1em
    text-transform uppercase
    text-decoration none

    &:hover {
      text-decoration underline
    }

    &.active {
      text-decoration underline
    }
  }

  +below('m') {
    display none
  }
}
