$navbar-lambda = 3 * $lambda

.navbar {
  background $my-green
  height unit($navbar-lambda, em)
  position relative

  h1 {
    color $white
  }

  +e(menu) {
    position absolute
    top px-to-em(70px)
    right 0
    background $white
    border-left $colored-border

    min-width px-to-em(200px)

    a {
      display block
      padding 1em
      border-bottom $colored-border
      text-decoration none

      &.active {
        text-decoration underline
      }
    }
  }

  +e(sidebar-trigger) {
    background inherit
    border 0
    color $white
    float right
    margin -.75em -1em -.5em .5em
    padding 1em

    +above('l') {
      display none
    }
  }
}

.navbar-left {
  float left

  a {
    clearfix()
  }

  img,
  h1 {
    float left
  }

  img {
    $img-lambda = 2 * $lambda
    $img-width = unit($img-lambda, em)

    height $img-width
    margin unit(($navbar-lambda - $img-lambda) / 2, em)
    width $img-width
  }
}

.navbar-right {
  float right
  line-height $navbar-lambda

  a {
    color $white
    padding 0 1em
    text-transform uppercase
    text-decoration none

    &:hover {
      text-decoration underline
    }

    &.active {
      text-decoration underline
    }
  }

  +below('m') {
    display none
  }
}
