.navbar {
  background $my-green
  padding .75em 0 .5em

  h1 {
    color $white
  }

  +e(sidebar-trigger) {
    background inherit
    border none
    color $white
    float right
    margin -.75em -1em -.5em .5em
    padding 1em

    +above('l') {
      display none
    }
  }
}

.navbar-left {
  clearfix()
  float left

  img,
  h1 {
    float left
  }

  img {
    margin-right .75em
  }
}

.navbar-right {
  float right
  line-height em(50px)

  a {
    color $white
    padding 0 1em
    text-transform uppercase
    text-decoration none

    &:hover {
      text-decoration underline
    }

    &.active {
      text-decoration underline
    }
  }

  +below('m') {
    display none
  }
}
