.content-sidebar {
  min-width em(250px)

  a {
    display block
    padding 1em
    border-bottom em(1px) $my-green solid
    text-decoration none

    &.active {
      text-decoration underline
    }
  }
}
