.projects-content {
  dt {
    color $darker-gray
    font-weight bold
    margin-top unit($lambda, em)
  }

  +e(custom-content) {
    margin-top unit($lambda, em)
  }

  +e(list) {
    list-style disc
    padding-left unit($lambda, em)
  }
}
