.projects-list-item {
  & {
    border-bottom $colored-border
    padding 2em 0

    &:last-child {
      border-width 0
    }
  }

  +e(description) {
    margin-bottom 1em
  }

  +e(visual-container) {
    col(1/2)
  }

  +e(content) {
    col(1/2)
  }
}
