.projects-list-item {
  & {
    border-bottom $colored-border
    padding unit(2 * $lambda, em) 0

    &:first-child {
      padding-top 0
    }

    &:last-child {
      border-width 0
    }
  }

  +e(visual-container) {
    col(1/2)

    +below('m') {
      stack()
    }
  }

  +e(content) {
    col(1/2)

    +below('m') {
      stack()
      margin-top unit($lambda, em)
    }
  }
}
