$image-container {
  img {
    width 100%
    border $muted-border
  }
}

.projects-list-item {
  & {
    border-bottom $colored-border
    padding 1em 0

    &:last-child {
      border-width 0
    }
  }

  +e(description) {
    margin-bottom 1em
  }

  +e(image-container) {
    @extend $image-container
    col(1/2)

    +m(small) {
      @extend $image-container
      col(1/4)
    }
  }

  +e(content) {
    col(1/2)

    line-height 1.4

    dt {
      font-weight bold
    }

    dd {
      margin-bottom 1em
    }

    ul {
      list-style disc
      padding-left 1.25em
    }
  }
}
