.projects-list {
}

.projects-list-item {
  border-bottom em(1px) $my-green solid;
  padding 1em 0

  &:last-child {
    border-width 0
  }

  dt {
    font-weight bold
  }

  dd {
    margin -.25em 0 .25em
  }
}

.projects-list-item-left {
  col(1/2)

  img {
    width 100%
  }
}

.projects-list-item-right {
  col(1/2)
}
