.work-together-handler {
  +e(secondary-heading) {
    text-align center
    margin 0 0 unit($lambda, em)
  }

  +e(section) {
    margin-bottom unit($lambda * 3, em)

    &:last-child {
      margin-bottom 0
    }
  }
}
