@import 'nib'
@import 'jeet'

global-reset()

$container-width = 900px

body {
  font-family 'PT Sans', sans-serif
  font-size 16px
  line-height 1.5
}

h1,
h2 {
  margin-bottom: .5em
}

h1 {
  font-size 24px
}

h2 {
  font-size 20px
  font-weight bold
}

h3 {
  font-size 18px
  margin-bottom .25em
}

em {
  font-style italic
}

p {
  margin-bottom .5em
}

$my-green = #25a27a
a {
  color $my-green

  &:hover {
    color darken($my-green, 30%)
  }
}

.resume-category {
  margin-top 1em

  .resume-entry:first-of-type {
    margin-top auto
  }
}

.resume-entry {
  margin 1em 0 0

  .fa-li {
    font-size .5em
    left -3em
    top 1em
  }
}

.hide {
  display none
}

$pdf-landscape-width = 960px
$pdf-landscape-height = 720px
$pdf-viewer-width = 720px

.pdf-viewer-landscape {
  width $pdf-viewer-width
  height ($pdf-viewer-width * $pdf-landscape-height / $pdf-landscape-width)
  border 1px #aaa solid
  margin-left auto
  margin-right auto
  display block
}

.container {
  center($container-width, 1em)
}

.fragment-left {
  col(3/5)
}

.fragment-right {
  col(2/5)
  text-align right
}

+below('m') {
  .fragment-left,
  .fragment-right {
    stack()
  }

  .fragment-right {
    text-align left
  }
}

.clearfix {
  clearfix()
}
