@import 'nib'
@import 'jeet'

global-reset()

$container-width = em(900px)
$my-green = #198565
$darker-gray = #444
$dark-gray = #222
$white = white
$header-ratio = 1.25em

html,
body {
  height: 100%
}

body {
  font-family 'PT Sans', sans-serif
  line-height 1.5
  color $dark-gray
  background-color $my-green
}

.content {
  background-color $white
  min-height 100%
}

h1,
h2,
h3 {
  line-height 1.2
  padding .15em 0
  color: $darker-gray
}

h1 {
  font-size $header-ratio ** 3
  font-weight bold
}

h2 {
  font-size $header-ratio ** 2
  margin-bottom: .5em
  font-weight bold
}

h3 {
  font-size $header-ratio
  margin-bottom .25em
}

hr {
  border-color $my-green
  border-top 0
}

em {
  font-style italic
}

p {
  margin-bottom .5em
}

a {
  color $my-green

  &:hover {
    color darken($my-green, 30%)
  }
}

.header {
  background $my-green
  padding 1em 0
  margin-bottom 1em

  h1 {
    color $white
  }
}

.header-logo {
  float left
  margin-right .75em
}

.resume-category {
  margin-top 1em

  .resume-entry:first-of-type {
    margin-top auto
  }
}

.resume-entry {
  margin 1em 0 0

  .fa-li {
    font-size .5em
    left -3em
    top 1em
  }
}

.hide {
  display none
}

$pdf-landscape-width = em(960px)
$pdf-landscape-height = em(720px)
$pdf-viewer-width = em(720px)

.pdf-viewer-landscape {
  width $pdf-viewer-width
  height ($pdf-viewer-width * $pdf-landscape-height / $pdf-landscape-width)
  border em(1px) #aaa solid
  margin-left auto
  margin-right auto
  display block
}

.container {
  center($container-width, 1em)
}

.fragment-left {
  col(3/5)
}

.fragment-right {
  col(2/5)
  text-align right
}

+below('m') {
  .fragment-left,
  .fragment-right {
    stack()
  }

  .fragment-right {
    text-align left
  }
}

.clearfix {
  clearfix()
}
