@import 'nib'

global-reset()

body {
  font-family 'PT Sans', sans-serif
  font-size 16px
  line-height 1.5
  margin 1em
}

h1 {
  font-size 24px
  padding .2em 0
}

.resume-entry {
  margin-top .5em

  &first-child {
    margin-top auto
  }
}

.resume-entry-note {
  display list-item
  margin-left 2em
}

.contact {
  padding-top .5em
  border-top 1px solid #000
}

.hide {
  display none
}
