@import 'nib'

global-reset()

$container-width = 1000px

body {
  font-family 'PT Sans', sans-serif
  font-size 16px
  line-height 1.5
}

h1 {
  font-size 24px
}

.resume-entry {
  margin-top .5em

  &:first-child {
    margin-top auto
  }
}

.resume-entry-note {
  display list-item
  margin-left 2em
}

.hide {
  display none
}

$pdf-landscape-width = 960px
$pdf-landscape-height = 720px
$pdf-viewer-width = 720px

.pdf-viewer-landscape {
  width $pdf-viewer-width
  height ($pdf-viewer-width * $pdf-landscape-height / $pdf-landscape-width)
}

.container {
  max-width $container-width
  width 100%
  margin-left auto
  margin-right auto
  padding 0 1em
}
