br
hr
.container
  a(href='https://github.com/golmansax') Github
  //
    |  |&nbsp;
    a(href='/resume') Resume
  |  | holman
  span.hide crap
  | @
  span.hide crap
  | golmansax
  span.hide crap
  | .com | in San Francisco, CA
br
