.testimonials-list {
  +e(item) {
    center()
    margin unit(2 * $lambda, em) 0
    padding-top unit(2 * $lambda, em) // Padding is important because of hash navigation
  }

  +e(item-person) {
    col(1/4)

    +below('s') {
      stack()
      padding 0 unit(1 * $lambda, em)
    }
  }

  +e(item-quote) {
    col(3/4)
    font-style italic

    +below('s') {
      stack()
      margin-top unit($lambda, em)
    }
  }

  +e(item-quote-icon) {
    margin-right 10px
  }
}
